# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
build_log*.txt

# Android
android/sdk/
android/.gradle/
android/build/

# Emulator
android/system-images/

# OS files
.DS_Store
Thumbs.db

# JDK (DO NOT COMMIT)
android/jdk/

# Gradle cache
android/.gradle/

# Local properties
android/local.properties
